.main-container {
    display: flex;
}

form input {
    display: block;
    margin: 10px 0px;
    width: 200px;
}

form label {
    margin-top: 5px;
}

.sub-container {
    width: 550px;
    margin-left: 25px;
}

.sub-container div {
    border: 2px solid black;
    margin: 10px 0px;
    padding: 20px;
}

p {
    margin: 10px 0px;
    font-size: 20px;
}

h1 {
    text-align: center;
    margin-top: 45px;
}

img {
    width: 480px;
    height: 400px;
}

.add-game-container {
    display: flex !important;
}

#btn-add-game {
    margin-left: 10px;
    margin-top: 1px !important;
    font-size: 20px;
    border-radius: 50%;
    width: 30px !important;
    background-color: rgba(0, 255, 0, 0.226);
    border: green 2px solid;
    color: green;
}

form {
    background-color: rgb(212, 212, 212);
    padding: 10px;
    height: 315px;
    flex-wrap: wrap;
}

textarea {
    overflow: visible;
    resize: none;
    height: 200px;
    width: 200px;
}

.btn-remove-game {
    float: right;
    margin-bottom: 20px;
    border: none;
    padding: 3px 10px;
    background-color: rgb(223, 0, 0);
    font-weight: bold;
    color: white;
}

.game-text {
    font-weight: bold;
    font-size: 25px;
}

#add-game-text {
    color: green;
}

#add-game-info {
    color: red;
    margin: 10px 0px;
    font-style: italic;
    width: 225px;
}

.fixed-container-top {
    position: fixed;
}

.centered-container {
    margin: 0 auto;
    width: fit-content;
}

.fixed-container-bottom {
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
}

#edit-game-text {
    color: rgb(194, 194, 3);
}

#btn-edit-game {
    background-color: rgb(194, 194, 3);
    color: white;
    border: none;
    padding: 3px 0px;
    margin: 7px 0px;
    margin-left: 27px;
    width: 205px;
}

.flexed-containers {
    display: flex;
}

input[type="checkbox"] {
    margin: 0;
    width: auto;
    margin-top: 13.5px;
    margin-right: 13px;
}

#select {
    width: 245;
    display: block;
    margin-top: 5px;
}

#label-select {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.second-form {
    height: fit-content;
}